@import "../../styles/sass/mixins";
@import "../../styles/sass/variables";


.socialFeed {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50%;
    align-self: center;
    grid-auto-columns: 10%;
}
.socialTitle {
    width: 160%;
}
 
.container {
    text-align: center;
}

span.icon {
    margin: 1em;
}