@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.caja {
  width: 95%;
  background: $color-fondo-contenido;
  margin: auto;
  position: relative;
  margin-bottom: 5em;
  margin-top: 0.6em;
  border-radius: 3em;
  border-width: 0em;
  padding: 1.5em 1em;
  caret-color: transparent;
}

@include tablet {
  .caja {
    margin-top: 0.4em;
  }
}

@include mobile {
  .caja {
    margin-top: 0em;
  }
}
