
.header {
  display: flex;

  .logo {
    margin-right: 20px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.05);
  }

  .spacer {
    flex: 1 0 auto;
  }
}
