@import "../../styles/sass/_variables";
@import "../../styles/sass/mixins";

button.menuButton {
    position: relative;
    border: none;
    border-radius: 3em;
    height: 5.5em;
    width: 8.5vw;
    transition: all 0.2s;
    cursor: pointer;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: auto;
    margin-top: auto;
}

span.text {
    font-size: 1vw;
}

header nav img.image1 {
    width: 20px;
    height: 20px;
    display: block;
}

header nav img.image2 {
    display: none;
}

header nav button.menuButton:hover {
    width: 8em;
    background-color: $color-menuBoton-hover;
    .image1 {
        display: none;
    }
    .image2 {
        display: block;
        width: 30px;
        height: 30px;
    }
    .text {
        display: none;
    }
}

@include tablet {

    .image1 {
        display: none;
    }

    span.text {
        display: none;
    }
    
    .image2 {
        display: block;
    }

}

@include mobile {
    button.menuButton {
         height: 3em; 
    }

    .image1 {
        display: none;
    }

    span.text {
        display: none;
    }
    
    .image2 {
        display: block;
    }

}