@import "../../../styles/sass/variables";
@import "../../../styles/sass/mixins";

.card {
  display: block;
  min-width: 15em;
  max-width: 15em;
  min-height: 24em;
  max-height: 24em;
  background: $color-fondo-contenido;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5em 1em;
  margin: 0.5em;
}

.cardButton{
  color: $darkGreen;
  background-color: white;
  border-radius: 2em;
  border-width: 0px;
  box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  font-weight: 600;
}

.quitCard {
  @extend .card;
  -webkit-animation: flip-out-ver-left 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: flip-out-ver-left 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.showCard {
  @extend .card;
  -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-ver-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.name {
  margin-top: -5%;
  font-family:'Roboto', sans-serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.firtsLine {
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  font-size: 14px;
  font-weight: bold;
}

.text {
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  font-size: 14px;
}

.date {
  font-family: 'Roboto', sans-serif;
  line-height: 0.8;
  font-size: 12px;
}

.social {
  position: relative;
  font-family: 'Roboto', sans-serif;
  line-height: 0.8;
  font-size: 13px;
  font-weight: 700;
  :link {
    color: green;
  }
  :visited {
    color: green;
  }
  :hover {
    color: blue;
  }
  :active {
    color: green;
  }
}

.flipIcon {
  position: relative;
  margin-left: 16em;
  margin-bottom: -2.5em;
  z-index: 10;
}

.flipIconHidden {
  @extend .flipIcon;
  visibility: hidden;
}
.star {
  position: relative;
  width: 1.4em;
  margin-left: -16em;
  margin-bottom: -2.5em;
  z-index: 10;
}

.starHidden {
  @extend .star;
  visibility: hidden;
}

@include tablet {
  .flipIconHidden {
    visibility: visible;
  }
}

@include mobile {
  .flipIconHidden {
    visibility: visible;
  }
}

/**
 * ----------------------------------------
 * animation flip-out-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-out-ver-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    opacity: 0;
  }
}
@keyframes flip-out-ver-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    opacity: 0;
  }
}
/**
 * ----------------------------------------
 * animation flip-in-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

