@import "../../styles/sass/mixins";
@import "../../styles/sass/variables";

.embla {
    position: relative;
    background-color: #ffffff;
    max-width: 80%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
    margin-top:1%;
  }
  .embla__viewport {
    overflow: hidden;
    width: 100%;
    border-radius: 3em;
  }
  .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }
  .embla__slide {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    padding-left: 10px;
  }

  .embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 800px;
  }

  .embla__slide__img {
    position: absolute;
    display: block;
    top: 38%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 3em;
  }

  .embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: $darkBlue;
    border-color: #ffffff;
    padding: 0;
  }

  .embla__buttonprev {
    @extend .embla__button;
    left: 27px;
  }

  .embla__buttonnext {
    @extend .embla__button;
    right: 27px;
  }

  .embla__button__svg {
    width: 100%;
    height: 100%;
  }

  @include bigDesktop{
    .embla__slide__img {
        top: 53%;
        left: 50%;
      }

      .embla {
        margin-bottom: 100px
      }
  }

  @include mobile{
    .embla__slide__img {
        top: 25%;
        left: 50%;
      }

      .embla {
        height: 500px;
        margin-bottom: -100px;
      }

      .embla__button {
          top:40%;
      }
  }
  
  
  