@import "../../components/Login/login.module.scss";
@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.buttonLogin {
    @extend .fileUploadLabel;
    width: 20%;
    margin-top: 10%;
    margin-right: 5%;
    padding: 8px 0px 8px 0px;
}

@include mobile {
    .form {
        width: 70%;
    }

    .buttonLogin {
        width: 30%;
    }
}

@include tablet {
    .form {
        width: 60%;
    }

    .buttonLogin {
        width: 15%;
    }
}
