.alert.alert-dismissable.alert-success {
    border-radius: 1em;
    padding: 8px;
    width: 80%;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #387a1a;
    background-color: #baffc3;
    cursor: pointer;
}

.alert.alert-dismissable.alert-danger {
    border-radius: 1em;
    padding: 8px;
    width: 80%;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #d8000c;
    background-color: #ffbaba;
    cursor: pointer;
}
