@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.button {
   float: right;
    border-width: 0em;
    border-radius: 3em;
    width: 80px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: map-get($font-weights, regular);
    font-size: 15px;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    color: $color-texto;
    background-color: $color-fondo-contenido;
    text-align: center;
    cursor: pointer;
}
