@import './../styles/sass/_variables';

.menuButton{
    //display:inline-block;
    margin:0 0.3em 0.3em 0;
    border-width: 0em;
    border-radius:3em;
    height: 5em;
    width: 6em;
    font-family:$font-family;
    font-weight:map-get($font-weights,regular);
    font-size: 15px;
    color: $color-texto;
    background-color:$color-fondo-contenido;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;

}

.menuButton:hover{
    background-color:$color-menuBoton-hover;
    }
/**
    @media all and (max-width:30em){
        .menuButton{
        //display:block;
        //margin:0.2em auto;
        }
        }
        **/