@import "../../styles/sass/mixins";
@import "../../styles/sass/variables";

.footer {
  border-radius: 3em;
  width: 95%;
  margin: auto;
  margin-top: 2.5em;
  padding: 20px 20px 10px 20px;
  color: $darkGreen;
  background-color: $color-fondo-contenido;
  font-family: "Roboto", sans-serif;
}

section.apartado {

}

.footer address {
  font-style: normal;
  color: #2f2f2f;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 1.4em;
}

.nav__ul a {
  text-decoration: none;
  color: $darkBlue;
}

.legal {
  text-align: center;
  color: $darkGreen;
}

.contact {
  font-size: 13px;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  section {
    margin: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;  
  }
  img {
    margin: auto;
  }
}


.petra {
  max-width: 10em;
}