@import "../../styles/sass/mixins";

.footer {
    position: relative;
    display: flex;
    background: black;
    color: white;
    margin-top: -3%;
    margin-left: 2%;
    margin-right: 2%;
}

#copyright {
    margin-right: 10%;
    margin-left: 2%;
}

.word {
    margin-right: 1%;
}

@include tablet {
    .footer {
        margin-top: -6%;
    }
}

@include mobile {
    .footer {
        margin-top: -9%;
        font-size: 13px;
    }
}
