@import "../../styles/sass/mixins";
@import "../../styles/sass/variables";

.form {
    width: 90%;
    padding: 30px;
    margin: 40px auto;
    background: $color-fondo-contenido;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.form .inner-wrap {
    padding: 30px;
    background: #f8f8f8;
    border-radius: 6px;
    margin-bottom: 15px;
}

.form h2 {
    width: 100%;
    text-align: left;
    background: $blue;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 1em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px "Roboto", serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid $blue;
    margin-top: -50px;
}
.form h2 > span {
    display: block;
    margin-top: 2px;
    font: 13px "Roboto", sans-serif;
}
.label {
    display: block;
    font: 15px "Roboto", sans-serif;
    color: #888;
    margin-bottom: 15px;
    margin-top: 10px;
}

.form input[type="url"]{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40vw;
    padding: 8px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    border: 0.3px solid rgba(145, 141, 141, 0.548);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    caret-color: black;

}
.form input[type="password"],
.form input[type="text"],
.form textarea,
.form select {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    border: 0.3px solid rgba(145, 141, 141, 0.548);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    caret-color: black;
}

.form .section {
    font: normal 20px "Roboto", serif;
    color: $blue;
    margin-bottom: 5px;
    margin-top: 15px;
}
.form .section span {
    background: $green;
    padding: 5px 10px 5px 10px;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}

.button {
    background: $blue;
    padding: 8px 20px 8px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px "Roboto", serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid $blue;
    font-size: 15px;
}
.button:hover {
    background: $darkBlue;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.buttonSocialMedia {
    @extend .button;
    background: $green;
    border: 1px solid $green;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.buttonSocialMedia:hover {
    background: $darkGreen;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.fileUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fileUploadLabel {
    background: $green;
    padding: 8px 20px 8px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px "Roboto", serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid $green;
    font-size: 15px;
    width: 11em;
    margin-right: 5px;
}

.fileUploadLabel:hover {
    background: $darkGreen;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.check {
    display: block;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 6px;
    margin-bottom: 25px;
    margin-top: 10px;
    font: 15px "Roboto", sans-serif;
    color: #888;
}

.checkBox {
    height: 15px;
    width: 20px;
}

.send {
    @extend .button;
    display: block;
    position: absolute;
    margin-top: 20px;
    right: 5em;
}

.preview {
    @extend .button;
    display: block;
    margin-top: 25px;
}

.card {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.field:hover > .tooltip {
    opacity: 1;
}
.tooltip {
    position: absolute;
    opacity: 0;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 5px;

    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.mediaField {
    display: grid;
    position: relative;
}
.lefthalf {
    grid-column: 1;
    width: 30em;
}
.righthalf {
    grid-column: 2;
    width: 50em;
    margin-left: 10px;
}

@include tablet {
    .send {
        right: 3em;
    }

    .lefthalf {
        grid-column: 1;
        width: 20em;
    }
    .righthalf {
        grid-column: 2;
        width: 30em;
        margin-left: 10px;
    }
}

@include mobile {
    .send {
        right: 3em;
    }

    .lefthalf {
        grid-column: 1;
        width: 15em;
    }
    .righthalf {
        grid-column: 2;
        width: 25em;
        margin-left: 10px;
    }
}
