$color-fondo-contenido: white;
$color-texto: black;
$color-menuBoton-hover: #f0f0f6;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);
$green: rgb(25, 187, 46);
$darkGreen: rgb(8, 114, 22);
$blue: rgb(27, 143, 189);
$darkBlue: rgb(39, 95, 119);
$background-size: 20px;
