$color-fondo-contenido: white;
$color-texto: black;
$color-menuBoton-hover: #f0f0f6;
$font-weights:(
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$font-family : 'Roboto',sans-serif;
$green: rgb(28, 218, 53);
$blue: rgb(39, 178, 233);
$background-size : 20px;