@import "./_variables";
@import "./mixins";

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 75%);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	color: $color-texto;
	font-weight: map-get($font-weights, regular);
}
p {
	z-index: 10;
	font-family: 'Roboto', sans-serif;
	width: 96%;
	margin-left: 3px;
	font-size: 14px;
}
.title1 {
	font-family: 'Roboto', sans-serif;
	position: relative;
	display: inline-block;
	font-size: 2rem;
	color:  $blue;
	margin-bottom: -5px;
}

.title2 {
	position: relative;
	display: inline-block;
	background: $green;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	transition: 0.2s ease-out;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.title3{
	position: relative;
	display: inline-block;
	background: $darkBlue;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	transition: 0.2s ease-out;
	text-align: left;
	margin-left: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;

}

.title4{
	position: relative;
	display: inline-block;
	background: $darkGreen;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	transition: 0.2s ease-out;
	text-align: left;
	margin-left: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;

}

.cardfeed {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: -5%;
	margin-left: 10%;
	margin-right: 10%;
	grid-gap: 5%;
}

.socialFeed {
	display: flex;
}

.contactTitle{
	@extend .title1;
	display: block;
	margin-bottom: 100px;
}

.contactTitle2{
	@extend .title2;
	display: block;
	margin-top: -80px;
	margin-left: 0px;
	text-align: left;
	font-size: 1.4rem;
}

.map{
	display: block;
	width: 50%;
	margin-top: -90px;
	min-width: 400px !important;
	min-height: 200px;
	
}

.pTry{
	margin-bottom: 26px;
}

.localization{
	display: block;
	margin-left: 100px;
	margin-top: 10px;
}

.direccion{
	display: flex;
}

.directionBlock{
	display: block;
	margin-bottom: 100px;
}

.EII_Image{
	display: block;
	margin-top: -35px;
	width: 120%;
}

@include tablet {
	.cardfeed {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 40px;
	}

	.localization{
		margin-top: -85px;
		margin-left: 30px;
	}

	.EII_Image{
		width: 100%;
	}
}

@include mobile {

	.cardfeed {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 40px;
	}

	.localization{
		margin-top: -95px;
		margin-left: 50px;
	}

	.map{
		margin-bottom: 20px;
	}
}

@include bigDesktop {

	.localization{
		margin-top: 80px;
		margin-left: 60px;
	}

	.pTry{
		margin-bottom: -25px;
	}

	.EII_Image{
		width: 170%;
		margin-top: -60px;
	}
}
