@import "./_variables";
@import "./mixins";

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 75%);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	color: $color-texto;
	font-weight: map-get($font-weights, regular);
}
p {
	z-index: 10;
	font-family: 'Roboto', sans-serif;
	width: 96%;
	margin-left: 3px;
	font-size: 14px;
}
.title1 {
	font-family: 'Roboto', sans-serif;
	position: relative;
	display: inline-block;
	font-size: 2rem;
	color:  $blue;
	margin-bottom: -5px;
}

.title2 {
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-size: 1.2rem;
	background: $green;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	transition: 0.2s ease-out;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.cardfeed {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: -5%;
	margin-left: 10%;
	margin-right: 10%;
	grid-gap: 5%;
}

.socialFeed {
	display: flex;
}

@include tablet {
	.cardfeed {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 40px;
	}
}

@include mobile {

	.cardfeed {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 40px;
	}
}
