@import './_variables';

body{
    background-image: url("/8.jpg");
    //background: $color-fondo-contenido;
    color: $color-texto;
    font-weight: map-get($font-weights,regular);
}
p{
    z-index: 10;
}
.title1{
    left: 5%;
    top:15%;
    font-family:$font-family;
    background: linear-gradient(
		-45deg,
		$blue 25%,
		$green 25%,
		$green 50%,
        $blue 50%,
		$blue 75%,
		$green 75%,
		$green);
        background-clip : text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: $background-size $background-size;
	background-position: 0 0;
	animation: stripes 3s linear infinite;
}

@keyframes stripes {
	100% {
		background-position: $background-size 0, $background-size 0, $background-size 0;
	}
}