@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.layout {
  display: flex;
  gap: 16px;
  flex-direction: row;
  flex-wrap: wrap;
}

.pagination{
  width: 100%;
  margin: 3% 30% auto;
  justify-content:center;
}

@include mobile{
  .pagination{
    margin: 3% 15% auto;
  }
}

@include tablet{
  .pagination{
    margin: 3% 4% auto;
  }
}
