@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.buttons {
    display: flex;
  text-align: center;
  justify-content: center;
    margin: auto;
    max-width: 13em;
}

.text {
    width: 100%;
}
